.cbp-ig-grid.projects li:nth-child(1) {
	background:url(/media/images/bkg-main-standard.jpg) no-repeat top center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}
.cbp-ig-grid.projects li:nth-child(2) {
	background:url(/media/images/project-2-a.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}