/* PAGINATION */
.pagination {
	margin:1em 0 0.5em -2.45em;
}

.pagination li {
	background:#f5f5f5;
	border:1px #dcdcdc solid;
	color:#8a8a8a;
	cursor:pointer;
	display:inline-block;
	font-size:0.8em;
	height:30px;
	margin:0 1px 0 1px;
	text-align:center;
	width:30px;
	
	border-radius:			3px;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	
	-webkit-transition: all 150ms linear;
	-moz-transition: 	all 150ms linear;
	-o-transition: 		all 150ms linear;
	-ms-transition: 	all 150ms linear;
	transition: 		all 150ms linear;
}

.pagination li span {
	position:relative;
	top:6px;
}

.pagination li span.icons {
	font-family:"entypo";
	position:relative;
	top:6px;
}
.pagination li:hover {
	color:#fafafa;
	background:#303030;
}
.pagination li.active {
	background:#101010;
	color:#fff;
	
	-webkit-transition: all 0ms linear;
	-moz-transition: all 0ms linear;
	-o-transition: all 0ms linear;
	-ms-transition: all 0ms linear;
	transition: all 0ms linear;
}
