{% extends "base.html" %}

{% block title %}
	Telegraph &amp; Main - About
{% endblock %}

{% block header %}
	{% include "misc/header.html" with primary="about" %}
{% endblock %}

{% block content %}
	<style>
		html {
			border:4px solid #fff;
			height:100%;
		}
		
		body {
			background:url(/media/images/bkg-about.jpg) no-repeat center center;
			-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
		}
		.container.header {
			border:0;
		}
		
		.container > header > span,
		.container > header nav a,
		.container > header h2 {
			color:#fff;
		}
	</style>
	
	<div class="main-content">
		<table class="tbl_content_header">
			<tr>
				<td>
					<h1>About</h1>
				</td>
			</tr>
		</table>
		<br/>
		
		<div id="content">
			<p><span>Telegraph &amp; Main</span> is an architectural restoration company focusing on historically relevant structures within Western New York. Based in Medina, NY the company is looking to help with the ongoing revitalization of the once booming Erie Canal town by restoring historical properties within the downtown area.</p>
			
			<p><b>Looking to get involved in saving an important piece of New York State architecture?</b> Click the link below to learn about Bent's Opera House :</p> 
			
			<button class="action_redirect" type="button" data-url="http://www.eggstreet.org/bentshall.php">
				<span class="icons icon-flag"></span> Help Save <span class="txt">Bent's Opera House</span> <span class="icons icon-flag"></span>
			</button>
		</div>
	</div>
	
	{% include "misc/telegraphandmain-js.html" %}
{% endblock %}