{% extends "base.html" %}

{% block title %} Math &amp; Pencil - Projects - Buffalo and New York City {% endblock %}

{% block header %}
	{% include "misc/header.html" with primary="projects" %}
{% endblock %}

{% block content %}
	<style>
		
		body {
			background:url(/media/images/bkg-projects.jpg) no-repeat center center;
			-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
		}
		
		.container > header > span,
		.container > header nav a,
		.container > header h2 {
			color:#fff;
		}
	</style>
	
	<div class="grid">
		<ul class="cbp-ig-grid projects">
			<li>
				<a href="{% url 'projects_1' %}">
					<h3 class="cbp-ig-title">Kearney Hall</h3>
					<span class="cbp-ig-category">
						414 &amp; 416 Main Street<br/>Medina, NY<br/>Built in 1867
					</span>
				</a>
			</li>
		</ul>
	</div>
	{% include "misc/telegraphandmain-js.html" %}
{% endblock %}