{% extends "base.html" %}

{% block title %} Math &amp; Pencil - Projects - SocialQ NYC {% endblock %}

{% block header %}
	{% include "misc/header.html" with primary="projects" secondary="project_detail" %}
{% endblock %}

{% block content %}
	<link href='/media/css/scroll-effect.css' rel='stylesheet' type='text/css'/>
	
	<div class="container">
		<div id="scroll-effect" class="scroll-effect">
			<section class="scroll-section">
				<article class="left">
					<h2>Kearney Hall</h2>
					<p>Built in 1867 primarily of limestone, this 3 story building was a mixed-use space with an event hall on the 3rd floor, miscellaneous doctor's offices and storage on the second floor and retail shops on the street-level first floor. <br/><span></span></p>
					
					<button class="action_redirect" type="button" data-url="{% url 'projects' %}">
						<span class="icon-arrow-left2"></span> Return to Projects
					</button>
				</article>
			
				<figure class="right action_redirect" data-url="/media/images/project-detail-1.jpg" style="
					background:url(/media/images/project-1-a.jpg) no-repeat center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
				</figure>
			</section>
		
			<section class="scroll-section">
				<article class="left">
					<h2>Deconstruction</h2>
					<p>
						The first phase of the project is demolition and deconstruction. Much of the building, with the exception of the third floor, has undergone a great deal of altercations and renovations since the buildings original construction. Our goal is to strip the building down, preserving an architecturally significant elements in the process, in order to repair existing infrastructure concerns (electrical, plumbing, etc.)
					</p>
				</article>
				
				<figure class="right action_redirect" data-url="/media/images/project-detail-2.jpg" style="
					background:url(/media/images/project-1-b.jpg) no-repeat center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
				</figure>
			</section>
		
			<section class="scroll-section">
				<article class="left">
					<h2>Facade Restoration</h2>
					<p>The building's original facade is long gone but we hope to restore it to a close approximation to it's original character while also bringing the street-level storefronts into the 21st century.</p>
				</article>
			
				<figure class="right action_redirect" data-url="/media/images/project-detail-3.jpg" style="
					background:url(/media/images/project-1-c.jpg) no-repeat center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
				</figure>
			</section>
			
			<section class="scroll-section">
				<article class="left">
					<h2>Interior Restoration &amp; Business Development</h2>
					<p>We plan to restore the third floor of the building to function in it's original purpose; an event hall for formal weddings, parties and community gatherings. This process is slated to completed in late 2014 and will contain an event center with a maximum capacity of 220 people, prep-kitchen for catering services, bridal suite, bar area, offices and storage.</p>
					
					<button class="action_redirect" type="button" data-url="{% url 'projects' %}">
						<span class="icon-arrow-left2"></span> Return to Projects
					</button>
				</article>
				
				<figure class="right action_redirect" data-url="/media/images/project-detail-4.jpg" style="
					background:url(/media/images/project-1-d.jpg) no-repeat center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
				</figure>
			</section>
		</div>
	</div>
	
	<script src="/media/js/vendor/scroll-effect.js"></script>
	
	<script>
		new cbpScroller( document.getElementById( 'scroll-effect' ) );
	</script>
	
	{% include "misc/telegraphandmain-js.html" %}
{% endblock %}