{% extends "base.html" %}

{% block title %}
	Telegraph &amp; Main - Team
{% endblock %}

{% block header %}
	{% include "misc/header.html" with primary="team" %}
{% endblock %}

{% block content %}
	<style>
		body {
			background:url(/media/images/bkg-team.jpg) no-repeat center center;
			border:0.25em solid #fff;
			-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
		}
		.container.header {
			border:0;
		}
		
		.container > header > span,
		.container > header nav a,
		.container > header h2 {
			color:#fff;
		}
	</style>
	
	<div class="main-content">
		<table class="tbl_content_header">
			<tr>
				<td>
					<h1>Team</h1>
				</td>
			</tr>
		</table>
		<br/>
		
		<div id="content">
			<ul class="lst_team">
				<li>
					<span class="txt">Robert Sanderson</span>
					<p>Bob is majority owner of <a href="http://www.candlelightcab.com" target="_blank">Candlelight Cabinetry</a> in Lockport, NY (He also started <a href="http://www.kitchenworldinc.com" target="_blank">Kitchen World</a> which his son Randy now owns and operates). Bob has extensive entrepreneurial experience; from cornering the hot chocolate market in Medina when he was 8 years old to creating one of the countries highest quality cabinetry lines, he truly has an expert understanding of business startup and development. He was born and raised in Medina and has been a cornerstone in the business and social community for years. Bob has always been passionate about downtown Medina and is consistently enthusiastic about the ongoing preservation and restoration of it's historic buildings.</p>
				</li>
			</ul>
			
			<ul class="lst_team">
				<li>
					<span class="txt">Timothy Hungerford</span>
					<p>Tim is the Chief Design Officer at <a href="http://www.socialq.com" target="_blank">SocialQ</a>, <a href="http://www.employii.com" target="_blank">Employii</a> and <a href="http://www.mathandpencil.com/projects/dukemail" target="_blank">Dukemail</a> as well as a co-owner of the software development firm <a href="http://www.mathandpencil.com" target="_blank">Math &amp; Pencil</a>. He's been working in the startup world for several years now and was also born and raised in Medina. He has lived all across the country and traveled extensively throughout the world working on farms, climbing, surfing, drinking wine and enjoying the vast arrays of cultural traditions and architectural beauty our world has to offer. He's recently moved back to WNY with his lovely wife Teresa, where they are hoping to get heavily involved in the preservation and redevelopment of local architecture.</p>
				</li>
			</ul>
			
			<ul class="lst_team">
				<li>
					<span class="txt">NHA Architecture Firm</span>
					<p>Based in Chicago, with roots also in Medina, <a href="http://www.n-ha.com/" target="_blank">Neidhardt Hungerford Architects</a> have extensive architectural experience both with new design and construction as well as historical redevelopment. We're lucky to have such talented people helping us with our projects. It's also helpful that the owners of the firm are part of our family who we love hanging out with <span class="icons green icon-smiley"></span>.</p>
				</li>
			</ul>
		</div>
	</div>
	
	{% include "misc/telegraphandmain-js.html" %}
{% endblock %}