<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>
			{% block title %}
				Element Cycles - A bicycle shop in Hyde Park Cincinnati, Ohio
			{% endblock %}
		</title>
		
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		
		<meta name="description" content="Element Cycles: a bicycle shop in Hyde Park Cincinnati, Ohio. We want to help you find your bike... It might be in our shop, in your garage, another shop or online. We are also certified Retul and SICI bicycle fit specialists and can help you find the exact size frame and position needed to maximize your comfort and power efficiency. Come in to talk with us, at Element Cycles bikes are air, bikes are earth, bikes are fire, bikes are water and bikes are..." />
		
		<meta name="keywords" content="Element Cycles, A Cincinnati	 Bicycle Shop, air earth fire water and bike, Element Cycle, Element Bicycle, Brett Hungerford, Hyde Park Cincinnati Ohio, Bicycle Cincinnati, Bicycle Ohio, Bicycle Newport, Bicycle Hyde Park, Bike Hyde Park, Bike Cincinnati, Retul Certified Fit Services, SICI Certified Fit Services, Bicylce Fit, Computerized Bicycle Fit Services, Motion Capture Bicycle Fit Services, Retul, SICI, Cincinnati Bicycle Fit Services, Ohio Bicycle Fit Services, Kentucky Bicycle Fit Services, Indiana Bicycle Fit Services, High End Bicycles, Race Bicycles, High End Race Bicycles, High End Race Bicycles Ohio, High End Race Bikes Ohio, High End Race Bikes Cincinnati, Awesome Bikes Cincinnatie, Awesome Bicycles" />
		
		<meta name="author" content="Element Cycles by Math and Pencil" />
		<link rel="shortcut icon" href="/media/images/favicon.ico">
		{% load jammit_tags %}
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		{% include "misc/javascript.html" %}
		{% include_stylesheets "common" %}
		{% include_javascripts "common" %}
		{% include "element-fonts.html"%}
		
	</head>
	
	<body class="cbp-spmenu-push">
		{% block content %} {% endblock %}
	</body>
</html>